@import "color";
@import "alert";
@import "user";
@import "map";
@import "nav";

.clearfix() {
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

* {
    margin: 0;
}

form {
    margin-bottom: 20px;
}
