.alert {
    padding: 15px;
    &__text {
        margin: 0;
    }
    &__close {

    }
    &--info {
        background-color: bg-info
    }
    &--success {
        background-color: bg-success
    }
    &--warning {
        background-color: bg-warning
    }
    &--danger {
        background-color: bg-danger
    }
}