@import 'color'
@import 'alert'
@import 'user'
@import 'map'

clearfix(){
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

header {
	clearfix();
	nav {
		&.left { float: left; }
		&.right { float: right; }
	}
}

form {
	margin-bottom: 20px;
}

.selfie {
	border-radius: 50%;
	background-color: gray;
	&--large {
		display: block;
		width: 50px;
		height: 50px;
	}
}

